
<app-navbar></app-navbar>
<!-- Here is Home page design -->
<div class="main-home">
    <section class="banner d-flex justify-content-center align-items-center">
        
        <div class="text-center">
            <h1 class="font-weight-bold"> Smart Contact Managar </h1>
            <p>Start collecting your contact very smarter way.we provide efficient way to handeling your contacts</p><br>
            <button class="btn btn-primary "> Get Started </button>
        </div>
        
    </section>
</div>

<!--'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'-->
