<app-navbar></app-navbar>

<div class="main-about">
    <main>
        <section class="about-us">
            <h1>About Us</h1>
            <p>Welcome to Smart Contact Manager! We are dedicated to providing a seamless and efficient solution for managing your contacts. 
                Our goal is to simplify contact management, making it easier for you to stay organized and focused.
            </p>
            
            <h2>Our Mission</h2>
            <p>Our mission is to revolutionize the way you manage your contacts. We aim to deliver a tool that enhances productivity, provides valuable insights, and adapts to your evolving needs.</p>
            
            <h2>Key Features</h2>
            <ul>
                <li><strong>Effortless Contact Management:</strong> Organize, search, and manage your contacts with ease.</li>
                <li><strong>Advanced Search and Filtering:</strong> Quickly find the contacts you need with powerful search functionalities.</li>
                <li><strong>Secure Data Storage:</strong> Rest assured that your data is protected with state-of-the-art security measures.</li>
                <li><strong>Customizable Views:</strong> Tailor the application to fit your workflow and personal preferences.</li>
            </ul>
            
            <h2>Developer Information</h2>
            <p>Smart Contact Manager is developed by a <b>Rishikesh Gadekar who is software developer and designer</b> committed to delivering a high-quality product. If you have any feedback or suggestions, please feel free to contact us at <a href="mailto:rishi@gmail.com">click here</a>. </p>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 Smart Contact Manager. All rights reserved.</p>
    </footer>
</div>
